.layout {
  height: 100vh;
}

.cover {
  margin-top: 56px;
  background: url('../../assets/cover.jpg') center no-repeat;
  background-size: cover;
}

.cover::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(6, 13, 33, 0.7);
}
