.container {
  display: flex;
  align-items: center;
  padding: 8px;
  transition: background-color 0.1s;
  cursor: default;
}

.container:hover {
  background-color: rgba(162, 230, 218, 0.5);
}

.resourceThumbnail {
  border: 1px solid #999;
  object-fit: cover;
}

.resourceName {
  flex-grow: 1;
  padding: 0 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.resourceSize {
  white-space: nowrap;
  cursor: default;
}
